# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\RAU_License_Project_2021\lbu-project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
